<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.1.0/css/bootstrap.min.css"/>
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block templates %}{% endblock %}
        {% block javascripts %}
            <script type="text/javascript" src="{{ asset('js/libraries/jquery-1.9.1.js') }}"></script>
            <script type="text/javascript" src="{{ asset('js/libraries/underscore.js') }}"></script>
            <script type="text/javascript" src="{{ asset('js/libraries/backbone.js') }}"></script>
        {% endblock %}
    </body>
</html>
