<script type="text/template" id="message_template">
    <div class="message panel panel-default">
        <div class="panel-heading">
            <% if (message.get('editable')) { %>
                <div class="controls pull-right">
                    <button class="btn btn-primary btn-xs edit_message_trigger">Edit</button>
                    <button class="btn btn-primary btn-xs save_message_changes" style="display: none">Save changes</button>
                </div>
            <% }; %>
            <h4 class="message_title"><%= message.get('title')  %></h4>
        </div>
        <div class="panel-body">
            <p class="message_text"><%= message.get('text')  %></p>
            <input type="hidden" value="<%= message.get('id') %>" name="id" class="mainMessageInput"/>
            <hr>
            <% _.each(message.get('replies'), function(reply) { %>
                <div class="reply">
                    <% if (reply.editable) { %>
                    <div class="controls">
                        <button class="btn btn-default btn-xs edit_reply_trigger">Edit</button>
                        <button class="btn btn-default btn-xs save_reply_changes" style="display: none">Save changes</button>
                    </div>
                    <% }; %>
                    <span class="reply_sender pull-left bg-primary">
                        <%= reply.sender  %>:
                    </span>
                    <p class="bg-primary reply_text">
                        <%= reply.text  %>
                    </p>
                    <input type="hidden" value="<%= reply.id %>" name="id" class="replyInput"/>
                    <input type="hidden" value="<%= message.id %>" name="parent_id" class="replyInput"/>
                </div>
            <% }); %>
        </div>
    </div>

    <form role="form" class="message_reply_form">
        <input type="hidden" name="parent_id" value="<%= message.get('id') %>"/>
        <div class="form-group">
            <label for="inputMessage" class="control-label">Reply:</label>
            <textarea class="form-control" id="inputMessage" placeholder="Enter your message" rows="3" name="text"></textarea>
        </div>
        <button type="submit" class="btn btn-primary pull-right">Reply</button>
    </form>

    <div class="hidden_controls" style="display: none">
        <input type="text" class="form-control input_title" name="title" />
        <textarea rows="3" class="form-control input_text" name="text"></textarea>

    </div>
</script>