<script type="text/template" id="message_form_template">
    <form role="form" class="message_form">
        <div class="form-group">
            <label for="inputUsers" class="control-label">Send to:</label>
            <select multiple name="users" id="inputUsers" class="form-control" data-placeholder="Select users">
                {% for user in users %}
                    {% if user.getId() != app.user.getId() %}
                        <option value="{{ user.getId() }}">{{ user.getFirstName()~' '~user.getLastName() }}</option>
                    {% endif %}
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <label for="inputTitle" class="control-label">Title:</label>
            <input type="text" class="form-control" id="inputTitle" placeholder="Subject of message" name="title">
        </div>
        <div class="form-group">
            <label for="inputMessage" class="control-label">Message:</label>
            <textarea class="form-control" id="inputMessage" placeholder="Enter your message" rows="5" name="text"></textarea>
        </div>
        <div class="form-group">
            <label for="inputDatetime" class="control-label">Need answer before:</label>
            <input size="16" type="text" value="" readonly class="form_datetime" id="inputDatetime" placeholder="Select date/time" name="critical_date">
        </div>
        <button type="submit" class="btn btn-primary">Send</button>
    </form>
</script>