<script type="text/template" id="messages_list_template">
    <div class="messages_list">
        <% _.each(messages, function(message) { %>
            <div class="message panel panel-default">
                <div class="panel-heading">
                    <a href="#/view/<%= message.get('id') %>">
                        <h4><%= message.get('sender')  %>: <i><%= message.get('title')  %></i></h4>
                    </a>
                </div>
                <div class="panel-body"><%= message.get('text')  %></div>
            </div>
        <% }); %>
    </div>
</script>