{% extends '::base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ asset('select2-3.4.5/select2.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ asset('select2-3.4.5/select2-bootstrap.css') }}" />
{% endblock %}

{% block body %}
    <div class="container">
        <br>
        <a href="{{ path('qaquick_user_logout') }}" class="btn btn-danger pull-right">Log out</a>
        <div class="clearfix"></div>
        <a href="#" class="btn btn-primary">Inbox</a>
        <a href="#/sent" class="btn btn-primary">Sent</a>
        <a href="#/write" class="btn btn-primary">Write</a>
        <div class="page">
            {% block page %}

            {% endblock %}
        </div>
    </div>
{% endblock %}

{% block templates %}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('select2-3.4.5/select2.min.js') }}"></script>
    <script type="text/javascript">
        $.ajaxPrefilter(function(options, originalOption, jqXHR) {
            options.url = '{{ path('ajax_path') }}' + options.url
        });
    </script>

    <script type="text/javascript" src="{{ asset('js/main.js') }}"></script>
{% endblock %}