{% extends 'MessageBundle::layout.html.twig' %}

{% block page %}

{% endblock %}

{% block templates %}
    {% include('MessageBundle:Template:message_list.html.twig') %}
    {% include('MessageBundle:Template:message.html.twig') %}
    {% include 'MessageBundle:Template:message_form.html.twig' with {users: users} %}
{% endblock %}
